@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --secondary: #f7f7f9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --secondary: #27272a;
    --foreground: #ededed;
  }
}

* {
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
}

.emoji {
  font-family: Tossface;
}

.link {
  text-decoration: underline;
  text-decoration-style: dotted;
}